main {
    height: 100vh;
}
form {
    width: 350px;
    background-color: #3D3C42;
    padding: 2.5rem;
    border-radius: 5px;
}
.form-field span{
    font-size: 12px;
}
label{
    font-size: 16px;
    color: #fff;
}
input {
    border: none;
    border-radius: 5px;
}
button {
    margin-bottom: 10px;
    border-radius: 5px;
}
